<h1><%= @task.description %></h1>

<p><%= @task.date %></p>
<li><%= link_to "Edit", edit_task_path(@task) %></li>
</ul>
<li><%= link_to "Destroy", task_path(@task),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>
